{% extends 'base.html'%}
{% load static%}
{%block css%}
<link rel="stylesheet" href="{% static 'main/css/about.css'%}">
{%endblock%}

{%block body%}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-5">
                <img class="img-main" src="https://sun9-35.userapi.com/c848636/v848636078/6663c/2caPdYqTT3U.jpg">
            </div>
            <div class="col-sm-12 col-md-7">
                <h3>Здавствуйте, меня зовут Губаева Марина Салкаевна</h3>
                <p>Равным образом рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
Идейные соображения высшего порядка, а также укрепление и развитие структуры играет важную роль в формировании существенных финансовых и административных условий. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение модели развития.
Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании новых предложений. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
            </div>

        </div>
    </div>
    <div class="container" style="padding-top: 30px;">
        <div class="row text-center">
            <div class="col-12">
                <h3>Мои достижения</h3>
            </div>
            <div class="col-md-3">
                <img class="img" src="https://hu.kln.ac.lk/depts/sinhala/images/2019/02/13/un2.jpg">
                <h5>Учитель года</h5>
                <p>Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития.</p>
            </div>
            <div class="col-md-3">
                <img class="img" src="https://hu.kln.ac.lk/depts/sinhala/images/2019/02/13/un2.jpg">
                <h5>Учитель года</h5>
                <p>Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития.</p>
            </div>
            <div class="col-md-3">
                <img class="img" src="https://hu.kln.ac.lk/depts/sinhala/images/2019/02/13/un2.jpg">
                <h5>Учитель года</h5>
                <p>Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития.</p>
            </div>
            <div class="col-md-3">
                <img class="img" src="https://hu.kln.ac.lk/depts/sinhala/images/2019/02/13/un2.jpg">
                <h5>Учитель года</h5>
                <p>Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития.</p>
            </div>
        </div>
    </div>
{%endblock%}