{% extends 'base.html'%}
{% load static%}
{%block css%}
<link rel="stylesheet" href="{% static 'main/css/about.css'%}">
{%endblock%}

{%block body%}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-5">
                <img class="img-main" src="https://sun9-35.userapi.com/c848636/v848636078/6663c/2caPdYqTT3U.jpg">
            </div>
            <div class="col-sm-12 col-md-7">
                <h3>Здавствуйте, меня зовут Губаева Марина Салкаевна</h3>
                <p>Я учитель географии и биологии, а также являюсь заведующей учебной частью. Мне очень нравиться работать
                с детьми, я обажаю свою работу, стараюсь выкладываться на 100%. Участвую в разных кункурсах и вебенирах для своего развития, не стоит
                    останавливаться в процессе своего развития.
                    Так же в свободное время занимаюсь спортом. Так как не надо забывать о своем здоровье.
                    Я люблю помогать людям и для этого был создан сайт, для передачи накопленного мною опыт.
                Надеюсь я смогу вам помочь!</p>
            </div>

        </div>
    </div>
    <div class="container" style="padding-top: 30px; padding-bottom: 50px;">
        <div class="row text-center">
            <div class="col-12">
                <h3>Мои достижения</h3>
            </div>
            <div class="col-md-3">
                <img class="img" src="{% static 'main/img/about/lar.jpeg'%}">
                <h5>Диплом</h5>
                <p>Лауреат открытого Всеросийского конкурса "Лучшая методическая разработка"</p>
            </div>
            <div class="col-md-3">
                <img class="img" src="{% static 'main/img/about/poch.jpeg'%}">
                <h5>Почетная грамота</h5>
                <p>За многолетний добросовестный, плодотворный труд; Большой вклад в дело обучения и воспитания подрастающего поколения.</p>
            </div>
            <div class="col-md-3">
                <img class="img" src="{% static 'main/img/about/blag.jpeg'%}">
                <h5>Благодарность</h5>
                <p>За подготовку 2 призеров муниципального этапа Всеросийской олимпиады школьников.</p>
            </div>
             <div class="col-md-3">
                <img class="img" src="{% static 'main/img/about/dipl.jpeg'%}">
                <h5>Диплом</h5>
                <p>Занявшей 2 место в лыжных гонках среди женщин в возрасте после 40 лет в физкультур-оздоровителльной спартакиаде "Здоровье"</p>
            </div>
              <div class="col-md-3">
                <img class="img" src="{% static 'main/img/about/serf.jpeg'%}">
                <h5>Сертификат</h5>
                <p>Принимала участие по Всеросийской научно-практической конференции "Практическая психология оброзования: опыт, проблемы, перспективы"</p>
            </div>
              <div class="col-md-3">
                <img class="img" src="{% static 'main/img/about/serf2.jpeg'%}">
                <h5>Сертификат</h5>
                <p>Участие в вебинаре "Структурно-содержательные особенности линий УМК по географии издательства "Просвещение" для реализации требований ФГОС ООО"</p>
            </div>
              <div class="col-md-3">
                <img class="img" src="{% static 'main/img/about/svid.jpeg'%}">
                <h5>Свидетельство</h5>
                <p>Приняла участие в вебинаре на тему "Речь педагога: культура, технологии, стратегия"</p>
            </div>
              <div class="col-md-3">
                <img class="img" src="{% static 'main/img/about/serf3.jpeg'%}">
                <h5>Сертификат</h5>
                <p>Принимала участие в вебинаре "Концептуальные подходы к изучению экономической и социальной географии в 10-11 классах. Возможности УМК "Сфера""</p>
            </div>
        </div>
    </div>
{%endblock%}